name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pipeline:
    name: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    uses: ./.github/workflows/build-and-test.yml
    with:
      os: ${{ matrix.os }}
